<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-environment:war exploded">
    <output-path>$PROJECT_DIR$/spring-environment/target/spring-environment</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-environment" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.projectlombok:lombok:1.18.4" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.8.0-beta2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: com.alibaba:fastjson:1.2.47" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-environment/target/spring-environment/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-environment/web/Web" />
    </root>
  </artifact>
</component>